name: Multi-Job Action

on:
  push:
    branches:
      - main

jobs:
  
  job1:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install Python Packages
        run: pip install requests
  
  
  job2:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14.x'

    - name: Install Newman
      run: |
        npm install -g newman
        npm install -g newman-reporter-junitfull
        npm install -g newman-reporter-junitxray
        
        
    - name: Run API tests
      run: newman run CVC_Apis.postman_collection.json || true
    - name: Generate API tests report
      id: newman
      run: newman run CVC_Apis.postman_collection.json --reporters junitfull --reporter-junitfull-export cvc-report.xml 

 
    - name: Check directory
      run: |
          pwd
          ls
      
    - name: Upload Newman JUnit report
      uses: actions/upload-artifact@v2
      with:
        name: newman-report
        path: cvc-report.xml
        
        
        
  job3:
    runs-on: ubuntu-latest
    needs: job2

    steps:
      - uses: actions/checkout@v2

      - name: Install Requests Module
        run: |
          python -m pip install requests
          
      - name: check directory
        run: |
              pwd
              ls
            
          
          
     

      
 
        
        
    
